#top_row {
  position: relative;
  width: 100%;
  height: 10%;
  background-color: purple;
}

#window_container {
  position: relative;
  width:100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#left_pane {
  position: relative;
  height:100%;
  width: 50%;
  display:flex;
  flex-direction: column;
}

#window_html {
}

#window_css {
}

.horizontal_drag {
  width: 2px;
  height: 100%;
  background-color: lightgrey;
}

.vertical_drag {
  width: 100%;
  height: 2px;
  background-color: lightgrey; 
}

#right_pane {
  position: relative;
  height:100%;
  width:50%;
  display:flex;
  flex-direction: column;
}

#window_js {
}

#window_output_container {
}

#window_output {
  border: none;
}

.window {
  flex: 1;
}

iframe {
  height: 100%;
  width: 100%;
}

textarea {
  resize: none;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}
